h1,
p {
  font-family: Lato;
}
.tetel {
  background-color: rgb(189, 189, 189);
}
.penz {
  background-color: rgb(189, 189, 189);
}
.row {
  row-gap: 10px;
  text-align: row;
}
.positive {
  color: green;
  background-color: rgb(189, 189, 189);
  font-size: 30px;
}
.negative {
  color: red;
  background-color: rgb(189, 189, 189);
  font-size: 30px;
}
